<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../style.css">
</head>
<body>
    <div class="contenedor-centrado">
        <img src="../img/imagen4.jfif" alt="Yo" class="yo2">
    </div>

    <!--esto es un BOTON-->
    <div class="contenedor-centrado">
     <button class="btn-0"><a class="btn-texto" href="../index.html">volver</a></button>
</div> 
<div class="info">
    <div>
        <h2>Estudios</h2>  
    <div class="est">
        <div class="elemento">
            <h3>Titulo: Bachillerato</h3>
            <p>2009 - 2013</p>
        </div>
        <div class="elemento">
            <h3>Técnico en Electricidad Domiciliaria</h3>
            <p>2014-2015</p>
        </div>
        <div class="elemento">
            <h3>Técnico en Software y Hardware de celulares</h3>
            <p>2016-2017</p>
        </div>
        <div class="elemento">
            <h3>Técnico Superior en Obras Viales (Finalizado)</h3>
            <p>2016 - 2021</p>
        </div>
        <div class="elemento">
            <h3>Curso #SEPROGRAMAR Arg4.0</h3>
            <p>Oct.2022 a Dic.2022</p>
        </div>
    </div>   
    </div>

    <div class="Exp">
        <div>
            <h2>Experiencias</h2>
            <div class="elemento">
                <h3>CimaDigital</h3>
                <p>2015-2016</p>
                <p>2022-Actualidad</p>
            </div>
            <div class="elemento">
                <h3>RealPhone</h3>
                <p>2016-2017</p>
            </div>
        </div>
            <div class="elemento">
                <h3>Laboratorista de Suelo SILSA S.A</h3>
                <p>2021-2022</p>
            </div>
    </div>
</div>
</div>   
    

    <script src="../script.js"></script>
</body>
</html>